Repository sotatek-dev/GZ_admin_site: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "yarn lint"
  ],
  "./src/**": [
    "yarn format"
  ]
}

fix: unable to edit whitelist user if round deployed
  src/modules/sale-rounds/create/hooks/useGetCurrentPhase.ts
  src/modules/settings/nft-mint/components/NFTInfo/NFTInfo.tsx
  src/modules/settings/nft-mint/components/NFTInfoForm/NFTInfoForm.tsx
  src/modules/settings/nft-mint/components/WhitelistUsers/WhitelistedUser.tsx
  src/modules/web3/hooks/index.ts
Due: yarn lint, yarn format

fix: system setting
  src/modules/settings/system/SystemSetting.tsx
Due: yarn lint, yarn format

fix: update cr contract
  .env.example
  src/modules/web3/abis/DNFT.json
  src/modules/web3/abis/KeyNFT.json
  src/modules/web3/abis/PresalePool.json
Due: yarn format

fix: fix message validate claim time
  src/modules/sale-rounds/create/components/DialogClaim.tsx
Due: yarn lint, yarn format

fix: wallet connect emit account changed event
  .eslintrc.json
  package.json
  src/modules/web3/hooks/useWalletListener.ts
  yarn.lock
Due: yarn lint, yarn format

fix: extend dayjs plugin
  src/modules/common/components/DatePicker/DatePicker.tsx
Due: yarn lint, yarn format

fix: update plugin
  config-overrides.js
  src/modules/common/components/DatePicker/DatePicker.tsx
Due: yarn lint, yarn format

fix: up
  config-overrides.js
Due: none

fix: up
  config-overrides.js
  src/index.tsx
Due: yarn lint, yarn format

fix: validate start mint key time
  src/modules/common/constants/messages.ts
  src/modules/settings/system/SystemSetting.tsx
  src/modules/settings/system/components/NumberInput/NumberInput.tsx
Due: yarn lint, yarn format

fix: update validate checkbox evjoin
  src/modules/sale-rounds/create/Create.tsx
  src/modules/sale-rounds/create/components/ExchangeRate.tsx
  src/modules/sale-rounds/create/components/ListUser.tsx
Due: yarn lint, yarn format

fix: up
  src/modules/sale-rounds/create/components/ListUser.tsx
Due: yarn lint, yarn format

fix: update validate
  src/modules/sale-rounds/create/Create.tsx
  src/modules/sale-rounds/create/components/ListUser.tsx
Due: yarn lint, yarn format

CICD
  buildspec.yaml
Due: none

Audit
  buildspec.yaml
Due: none

fix: update bugs
  src/modules/sale-rounds/create/Create.tsx
  src/modules/sale-rounds/create/components/SrDetails.tsx
Due: yarn lint, yarn format

fix: ignore validate when field not changed
  buildspec.yaml
  src/modules/settings/system/SystemSetting.tsx
Due: yarn lint, yarn format

fix: update contract address
  .env.example
Due: none

build: dayjs version
  .lintstagedrc
  package.json
  src/App.scss
  src/modules/common/components/DatePicker/DatePicker.tsx
  yarn.lock
Due: yarn lint, yarn format

build: contract
  .env.development
  src/modules/web3/abis/DNFT.json
Due: yarn format

fix: sign out when connect by wallet connect at first time
  src/modules/web3/hooks/useWalletListener.ts
Due: yarn lint, yarn format

fix: example env
  .env.example
Due: none

fix: update gxz text
  src/modules/sale-rounds/create/components/ExchangeRate.tsx
Due: yarn lint, yarn format

fix: update overflow
  src/modules/sale-rounds/create/components/scss/SaleRoundCreate.style.scss
Due: yarn format

feat: up
  src/App.scss
Due: yarn format

build: update contract prod
  src/modules/web3/abis/DNFT.json
Due: yarn format

fix: abi
  src/modules/web3/abis/erc20.json
Due: yarn format

fix: not block walletconnect connecting when admin do not have metamask wallet
  src/App.scss
  src/modules/wallet/connect/ConnectWallet.tsx
Due: yarn lint, yarn format

build: update env
  .env.uat
Due: none

chore: add env uat
  .env.uat
  src/modules/web3/abis/DNFT.json
Due: yarn format

build: update contract
  .env.uat
  src/modules/web3/abis/DNFT.json
Due: yarn format

fix: update contract uat
  .env.uat
Due: none

fix: up
  src/modules/sale-rounds/create/Create.tsx
Due: yarn lint, yarn format

fix: up
  src/App.scss
  src/modules/sale-rounds/create/Create.tsx
  src/modules/sale-rounds/create/components/ListUser.tsx
Due: yarn lint, yarn format

feat: remove add white list
  src/modules/settings/nft-mint/components/Users/Users.tsx
Due: yarn lint, yarn format

fix: remove disable button is current sale phase
  src/modules/settings/nft-mint/components/NFTInfo/NFTInfo.tsx
Due: yarn lint, yarn format

fix: update cr edit sale round
  src/modules/common/constants/messages.ts
  src/modules/common/helpers/converts.ts
  src/modules/sale-rounds/create/Create.tsx
  src/modules/sale-rounds/create/components/Generalinfor.tsx
  src/modules/sale-rounds/create/components/SrClaimConfig.tsx
  src/modules/sale-rounds/create/components/scss/Generalinfor.style.scss
  src/modules/sale-rounds/create/components/services/saleRoundUpdate.ts
  src/modules/sale-rounds/create/components/services/useUpdateClaimSetting.mutation.ts
  src/modules/sale-rounds/create/components/types.ts
  src/modules/sale-rounds/create/hooks/useGetSalePhase.ts
  src/modules/web3/abis/PresalePool.json
Due: yarn lint, yarn format

fix: update cr redirect update success
  src/modules/sale-rounds/create/Create.tsx
Due: yarn lint, yarn format

fix: update cr interface presalepool
  src/modules/sale-rounds/create/components/services/useUpdateClaimSetting.mutation.ts
Due: yarn lint, yarn format
